# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.venv
venv/
ENV/
env/

# =========================
# Django
# =========================
*.log
staticfiles/
local_settings.py

# Migrações (opcional)
**/migrations/*
!**/migrations/__init__.py

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
desktop.ini
