# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.venv
venv/
ENV/
env/

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal

# Media (uploads de usuários)
media/*
!media/default/
!media/default/**

staticfiles/
local_settings.py

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Git
# =========================
*.orig
*.swp
*.bak
