{% extends "base.html" %}
{% block conteudo %}

<div class="form-container">
    <div class="form-card">
        <h1 class="form-title">{{ titulo }}</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Nome de usuário:<br>
                <input type="text" name="nome_usuario" required>
            </p>

            <p>Senha:<br>
                <input type="password" name="senha" required>
            </p>

            <button type="submit" class="btn-enviar">Entrar</button>

            {% if mensagem %}
                <p style="color: red;">{{ mensagem }}</p>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
