{% extends 'base.html' %}
{% block conteudo %}

<h1>Adicionar Review para {{ jogo.nome }}</h1>

<form method="POST">
    {% csrf_token %}

    <p>Usuário:</p>
    <select name="usuario">
        {% for u in usuarios %}
        <option value="{{ u.id }}">{{ u.nome_usuario }}</option>
        {% endfor %}
    </select>

    <p>Nota (0 a 10):</p>
    <input type="number" name="nota" min="0" max="10">

    <p>Comentário:</p>
    <textarea name="comentario"></textarea>

    <button type="submit">Enviar</button>
</form>

{% endblock %}
