{% extends "base.html" %}
{% block conteudo %}

<div class="form-container">
    <div class="form-card">
        <h1 class="form-title">{{ titulo }}</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <p>Nota:</p>
            <input type="number" name="nota" value="{{ review.nota }}" min="0" max="10" required>

            <p>Comentário:</p>
            <textarea name="comentario" required>{{ review.comentario }}</textarea>

            <button type="submit" class="btn-enviar">Enviar</button>

            {% if mensagem %}
                <p style="color: red;">{{ mensagem }}</p>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
