{% extends 'base.html' %}

{% block conteudo %}
<h2 class="h2">Reviews</h2>

{% if reviews %}
    {% for review in reviews %}
        <div class="review-card">
            <p><strong>{{ review.usuario.nome_usuario }}</strong></p>
            <p>Nota: {{ review.nota }}</p>
            <p>{{ review.comentario }}</p>
            <small>{{ review.data }}</small>
        </div>
    {% endfor %}

{% else %}
        <div class="review-card">
            <p>Este jogo ainda não possui reviews.</p>
        </div>
    
{% endif %}

<div class="acoes-g">
    <div class="acoes-genero">
        <a href="{% url 'reviews:criar' jogo.pk %}">Adicionar Review</a>
    </div>
</div>
{% endblock %}
